/* styles.css */

.center-text { /*REF 1*/
  text-align: center; 
  /*this I decide to use to centerlize the txt in the web page*/
  }
  

body { /*REF 2*/
/*this formart I choose because is the main format, looking for the best UI/UX */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }



  header {/*REF 3*/
    
    /*header with color and format choosen by me, focus also in the UX, dark blue means trust, 
    pading also choose sightly from me, I was texting one by one until find the perfect size for me*/
    
    background-color: #110041;
    padding: 1em 0;
  }
  
  .top-nav {/*REF 4*/

    /*container 0 is fit with flex display, align to center, and gap 2rem between */
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .top-nav a {/*txt format*/
    
    color: rgb(255, 255, 255);
    text-decoration: wavy;
    font-weight: bold;
    padding: 0.5em 1em;
  }
  
  .top-nav a:hover {/*decide to create like this because I dont want to create a huge contrast 
    the radius I decide to leave like this because I dont want to work with square boxes*/
    content: center;
    background-color: #2b2358;
    border-radius: 50px;
  }

/**/
  .form-section {/*REF 5*/
  
    padding: 5rem;
    background-color: #110041;
    border-radius: 10px;
    color: white;
    
  }
  
  .form-section input {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    border-radius: 4px;
  }
  
  .form-section button {
    background-color: #2b2358;
    color: white;
    border-radius: 4px;
  }
  
  .form-section button:hover {
    background-color: #555;
  }
  
  footer {/*REF 6*/
    border-top: 2px solid #444; 
    padding: 1rem;
    background-color: #110041;
    color: white;
    margin-top: 10rem;
  }
  
  .character-gallery {/*REF 8*/
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .character-gallery img {
    width: 150px;
    border-radius: 8px;
   
  }
  

  